.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
  z-index: 2;
  transition: ease-in 0.3s;
}

.feynman__link:hover {
  opacity: 0.5;
  transition: ease-in 0.3s;
}
